body {
    height: 100vh;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.login-container img {
    max-width: 250px;
    margin-bottom: 30px;
}
.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000000;
}
.btn {
    padding: 10px 0;
    background-color: #ff6900;
    color: #000000;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}
.btn:hover {
    background-color: #e55f00;
}
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: none; /* Começa invisível */
    z-index: 1000; /* Fica acima de tudo */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 15px;
}
#errorModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* Começa invisível */
    z-index: 1000;
}

.error-box {
    background: #e8e8e8; /* Cor laranja da sua identidade */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    min-width: 300px;
}

.error-box button {
    background: #ff6900;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.error-box button:hover {
    background: #e55f00;
}

@media (max-width: 768px) {
    body {
        background-color: #ffffff;
    }

    .login-container {
        background: none;
        border: none;
        box-shadow: none;
        width: 100%;
        padding: 20px;
    }

    .login-container img {
        max-width: 200px;
    }
}
