.container-clientes {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn-cadastro {
    width: 200px;
    background-color: #5ba642;
    color: #ffffff;
    white-space: nowrap;
}
.btn-cadastro:hover {
    background-color: #3f8927;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    background-color: #b3b3b3;
    color: #000000;
}
th {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    background-color: #eeeeee !important;
    color: #000000;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #e2e2e2;
}
.filtro-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.filtro-container .btn {
    white-space: nowrap;
}
.input-group{
    max-width: 300px;
    
    & input{
        width: 100%;
        border: none;
    }
    & span{
        background-color: #ffffff;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0;
    }
}

@media (max-width: 992px) {
    #tabela-clientes { display: none; }
    #cards-clientes { display: block; }

    .container-clientes {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .btn-cadastro{
        width: 100%;
        margin: 8px auto;
    }
    .botao-modal .btn-cadastro {
        width: 100%;
        margin: 0;
    }

    .filtro-container {
        justify-content: center;
        align-items: center;
    }
    .input-group {
        width: 100% !important;
    }
    .input-group-text {
        margin-top: 8px;
        width: 100%;
    }
}
@media (min-width: 993px) {
    #cards-clientes { display: none; }
}