.btn-venda {
    width: 200px;
    background-color: #5ba642;
    color: #ffffff;
}
.btn-venda:hover {
    background-color: #3f8927;
    color: #ffffff;
}
.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

select.form-control, 
input.form-control {
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    background: transparent;
    border-radius: 5px;
}

select::placeholder,
input::placeholder {
    color: #757575;
}
/* Remove as setinhas nos navegadores mais comuns */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="date"]:hover, input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none;           /* Para navegadores modernos */
}