body {
    height: 100vh;
    background-color: #e8e8e8;
    font-family: 'Montserrat';
}
.navbar-container{
    background-color: #ffffff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}
.nav li a{
    color: #000000;
}
.nav li a:hover {
    color: #ff6900;
}
.btn-venda {
    width: 200px;
    background-color: #5ba642;
    color: #ffffff;
}
.btn-venda:hover {
    background-color: #3f8927;
    color: #ffffff;
}
.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000000;
}
select.form-control, 
input.form-control {
    font-size: 16px;
    padding: 10px 15px;
    text-align: center;
    background: transparent;
    border-radius: 5px;
}

select::placeholder,
input::placeholder {
    color: #757575;
}
/* Remove as setinhas nos navegadores mais comuns */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: none;           /* Para navegadores modernos */
}
